
<h2>BooksRus</h2>
<p>
    BooksRus, a bookstore chain with an annual book sales volume
    of 2,000 books, serves approximately 1,500 customers, and
    generates $100,000 in revenue annually. An online sales
    tracker system, utilizing a relational database, is created
    to enhance the chain’s sales tracking capabilities and
    improve inventory management. This system will efficiently
    record Invoices, capturing details of Books purchased by the
    Customers across its 5 Stores located throughout the United
    States. Additionally, the database schema accommodates
    scenarios of multiple Authors per book, multiple purchases
    for a single book, and the association of purchases with
    specific customers and stores.
</p>

