:root{
    /*
    #284B63
    #153243
    */
    --main: #78290F; 
    --second: rgb(18, 213, 11);
    --dark: #001524;
    --light: #E4DFDA;
    --highlight: #FF7D00;

    background-color: #001524;
} 

body{
    background-color: var(--light);
    margin: 0px;
}

main{
    padding: 10px;
}

nav{
    background-color: var(--dark);
    margin: 0px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    border-bottom: 5px solid var(--highlight);
}

nav a {
    color: var(--light);
    text-decoration: none;
    margin: 0px;
    padding: 15px 4%;
}

nav a:hover {
    background-color: var(--highlight);
    color: black;
}

a:link {
    color: var(--dark-blue);
}

a:hover {
    color: var(--emerald);
}

tr th, tr td{
    padding: 12px 20px;
    border: 2px solid var(--highlight);
}

footer {
    background-color: var(--dark);
    color: var(--light);
    padding: 10px;
    margin: 10px 0px;
    border-top: 5px solid var(--highlight);
}