{{! 
Citation for the following HTML codes:
Date: 03/15/2024
Based on CS340 nodejs-starter-app on GitHub
Displaying the ID, book title and author's name was based on the GitHub. Creating the table itself was our own work.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/blob/main/Step%205%20-%20Adding%20New%20Data/README.md
}}

<h2>AuthorsBooks Table</h2>
<p>Browse the authors of the respective books.</p>
<table class="displayTable">

  <thead>
    <tr>
      <th>ID</th>
      <th>Book</th>
      <th>Author</th>
    </tr>
  </thead>

  <tbody>

    <!-- For each row, print the id, book title, and author's name -->
    {{#each data}}
      <tr>
        <td>{{this.authorBookID}}</td>
        <td>{{this.title}}</td>
        <td>{{this.authorsname}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>