<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Bookstore</title>

        <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    </head>
    <body>


        <header>
            <a href="/">
                BooksRus
            </a>
        </header>
        <nav>
            <a href="/">Home</a>
            <a href="books">Books</a>
            <a href="authors">Authors</a>
            <a href="customers">Customers</a>
            <a href="stores">Stores</a>
            <a href="invoices">Invoices</a>
            <a href="authorsbooks">AuthorsBooks</a>
        </nav>
        <main>
            <div>
                   {{{body}}}

            </div>
        </main>
        <footer>
            <p>&copy; 2024<span class="highlight-me">Saurav Shrestha</span>,<span class="highlight-me">Mo Hudeihed</span></p>
        </footer>

        <script>
            const headerLink = document.querySelector("header a");
            const highlightMe = document.querySelectorAll(".highlight-me");

            headerLink.addEventListener("mouseover", function() {
                highlightMe.forEach(function(element){
                    element.classList.add("highlighted");
                });
            });

            headerLink.addEventListener("mouseout", function() {
                highlightMe.forEach(function(element){
                    element.classList.remove("highlighted");
                });
            });
        </script>
    </body>
</html>
